@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid rgb(119, 136, 153);
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(100, 108, 255);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.cooking {
  background-color: rgb(255, 157, 190);
}

.football {
  background-color: rgb(170, 198, 255);
}

.coding {
  background-color: rgb(145, 249, 255);
}


@layer base {
  :root {
    --background: rgb(240, 248, 255);
    --btn-background-hover: rgb(94, 96, 126);
    --foreground: rgb(231, 231, 231);
    --midlayer: rgb(255, 255, 255);
    --navBg: rgb(18, 110, 167);
    --highlight: rgb(255, 140, 0);
    --title-color: rgb(12, 75, 114);
    --text: rgb(0, 0, 0);
    --border: rgb(212, 212, 212);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: rgb(47, 50, 65);
      --btn-background-hover: rgb(94, 96, 126);
      --foreground: rgb(89, 92, 109);
      --midlayer: rgb(65, 64, 64);
      --title-color: rgb(236, 248, 255);
      --text: rgb(255, 255, 255);
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
